<!-- This footer should be hidden by default and shown when there are todos -->
<footer class="footer">
  <!-- This should be `0 items left` by default -->
  <span class="todo-count"><strong>{{countPending}}</strong>{{(countPending === 1 ? ' item' : ' items') + ' left' }}</span>
  <!-- Remove this if you don't implement routing -->
  <ul class="filters">
    <li>
      <a (click)="onRouter('all')" [class.selected]="currentUrl === 'all'">All</a>
    </li>
    <li>
      <a (click)="onRouter('pending')" [class.selected]="currentUrl === 'pending'">Pending</a>
    </li>
    <li>
      <a (click)="onRouter('completed')" [class.selected]="currentUrl === 'completed'">Completed</a>
    </li>
  </ul>
  <!-- Hidden if no completed items are left ↓ -->
  <div *ngIf="countComplete > 0">
    <button class="clear-completed" (click)="onDeleteTodoCompleted()">Clear completed</button>
  </div>
</footer>
