<section class="todoapp">
  <app-header (newTodoAdded)="newTodoAdded($event)" ></app-header>
  <div class="container todoapp-wrapper">
    <!-- This section should be hidden by default and shown when there are todos -->
    <section class="main">
      <ul class="todo-list">
        <li *ngFor="let todo of filterTodos" [class.completed]="todo.completed" [class.editing]="todo.editing">
          <div class="view">
          <input class="toggle" type="checkbox" [checked]="todo.completed" (click)="onComplete(todo)" />
            <label (dblclick)="onEdit(todo)" >{{todo.title}}</label>
            <button (click)="onDeleteTodo(todo)" class="destroy"></button>
          </div>
          <input class="edit" [(ngModel)]="editName" [disabled]="!todo.editing" [autofocus]="todo.editing"
            (keyup.enter)="onEditName(todo)" (keyup.escape)="onCancelEdit(todo)"/>
        </li>
      </ul>
    </section>
    <div *ngIf="count > 0">
      <app-footer (deleteTodoCompleted)="onDeleteTodoCompleted()" [countPending]="countPending" [countComplete]="count-countPending" ></app-footer>
    </div>
  </div>
</section>
